<% provide(:title, "Home") %>
<%= image_tag('header_img.png', class: "img-responsive")%>
<h1 class="page-header">Body is here!</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <img src="https://www.firestock.ru/wp-content/uploads/2014/04/114-istock_000008231672medium-700x465.jpg" alt="...">
      <div class="caption">
        <h3>Enrollee</h3>
        <p>Get useful information here. Click links below!</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <img src="http://abiturient.ru/upload/medialibrary/342/IMG_17613_1got.jpg" alt="...">
      <div class="caption">
        <h3>Student</h3>
        <p>Get everything you need for your education here</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://bm.img.com.ua/berlin/storage/finance/600x500/b/90/b2b33549b9e179d6b8c51dbcc04dc90b.jpg" alt="...">
      <div class="caption">
        <h3>Employer</h3>
        <p>Get information of our best students you may want to hire</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= image_tag("skrypitsyn.jpg", class: "img-responsive center-block", style: "height:650px")%>
  </div>
  <div class="col-md-6">
    <h1>Welcome to Kafedra IST!</h1>
    <p>
     h2 { font-size: 1.2em; letter-spacing: -1px; margin-bottom: 30px; text-align: center; font-weight: normal; color: $gray-light; } p { font-size: 1.1em; line-height: 1.7em; } /* header */ #logo { float: left; margin-right: 10px; font-size: 1.7em; color: #fff; text-transform: uppercase; letter-spacing: -1px; padding-top: 9px; font-weight: bold; &:hover { color:#fff; text-decoration: none; } } /* footer */ footer { margin-top: 45px; padding-top:5px; border-top: 1px solid $gray-medium-light; color: $gray-light; a { color: $gray; &:hover { color: $gray-darker; } } small { float: left; } ul { float: right; list-style: none; li { float: left; margin-left: 15px; } } }
     h2 { font-size: 1.2em; letter-spacing: -1px; margin-bottom: 30px; text-align: center; font-weight: normal; color: $gray-light; } p { font-size: 1.1em; line-height: 1.7em; } /* header */ #logo { float: left; margin-right: 10px; font-size: 1.7em; color: #fff; text-transform: uppercase; letter-spacing: -1px; padding-top: 9px; font-weight: bold; &:hover { color:#fff; text-decoration: none; } } /* footer */ footer { margin-top: 45px; padding-top:5px; border-top: 1px solid $gray-medium-light; color: $gray-light; a { color: $gray; &:hover { color: $gray-darker; } } small { float: left; } ul { float: right; list-style: none; li { float: left; margin-left: 15px; } } }
    </p>
    <p class="text-primary pull-right">Director Skrypitsyn N. V.</p>
  </div>
</div>
<h1 class="page-header">Our alumnus</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
     <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTz-jUuRCJbeim9EQ5VCnfj4GbgpGcCjlvHeF-AGNlXDYI9c0yZoQ", class: "img-circle")%>
   <span class="clearfix">Петя, сантехник</span>
   <span class="clearfix">Отдел продаж</span>
  </div>
  <div class="col-sm-6 col-md-4">
    <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTz-jUuRCJbeim9EQ5VCnfj4GbgpGcCjlvHeF-AGNlXDYI9c0yZoQ", class: "img-circle")%>
    <span class="clearfix">Петя, сантехник</span>
    <span class="clearfix">Отдел продаж</span>
  </div>
  <div class="col-sm-6 col-md-4">
     <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTz-jUuRCJbeim9EQ5VCnfj4GbgpGcCjlvHeF-AGNlXDYI9c0yZoQ", class: "img-circle")%>
     <span class="clearfix">Петя, сантехник</span>
     <span class="clearfix">Отдел продаж</span>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
     <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTz-jUuRCJbeim9EQ5VCnfj4GbgpGcCjlvHeF-AGNlXDYI9c0yZoQ", class: "img-circle")%>
   <span class="clearfix">Петя, сантехник</span>
   <span class="clearfix">Отдел продаж</span>
  </div>
  <div class="col-sm-6 col-md-4">
    <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTz-jUuRCJbeim9EQ5VCnfj4GbgpGcCjlvHeF-AGNlXDYI9c0yZoQ", class: "img-circle")%>
    <span class="clearfix">Петя, сантехник</span>
    <span class="clearfix">Отдел продаж</span>
  </div>
  <div class="col-sm-6 col-md-4">
     <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTz-jUuRCJbeim9EQ5VCnfj4GbgpGcCjlvHeF-AGNlXDYI9c0yZoQ", class: "img-circle")%>
     <span class="clearfix">Петя, сантехник</span>
     <span class="clearfix">Отдел продаж</span>
  </div>
</div>
<h1 class="page-header">Contact us!</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form>
      <div class="form-group">
        <textarea class="form-control" rows="7"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-success center-block">Send</button>
    </form>
  </div>
</div>