= form_for(object, url: url, html: { method: http_method, multipart: true }) do |f|
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.label :name, class: "control-label"
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :subject_id, class: "control-label"
    = f.collection_select(:subject_id, subjects, :id, :name, {}, class: "form-control")
  .form-group
    = f.label :description, class: "control-label"
    = f.text_area :description, class: "text-wysiwyg form-control", rows: 15
  .form-group
    = f.label :attachment, class: "control-label"
    .panel.panel-default
      .panel-body
        - if object.persisted?
          %p
            = t('current_file')
            = link_to File.basename(object.attachment.path), object.attachment.url
            %span.help-block.small
              =t('file_upload_warning')
        = f.file_field :attachment, accept: format_extensions_for_file_field(Workbook.allowed_file_extensions)
        %span.help-block
          = t('file_types')
          = Workbook.allowed_file_extensions.join(', ')
        %p=t('unlimited_file_size')
  .btn-group
    = f.submit t('save'), class: "btn btn-primary"
    - if object.persisted?
      = link_to t('delete'), url, method: :delete, data: { confirm: t('delete_workbook') }, class: "btn btn-danger"
