- provide(:title, t('activerecord.models.workbooks'))
%h1.page-header
  = t('activerecord.models.workbooks')

- if can? :create, Workbook
  = link_to t('create_workbook'), new_workbook_path, class: "btn btn-sm btn-default"
  %hr

#workbook_index
  .row
    .col-md-4
      %ul.nav.nav-pills.nav-stacked
        %li{class: params[:subject].blank? && 'active' }
          = link_to t('all'), workbooks_path
        - @subjects.each do |subject|
          %li{class: (params[:subject] == subject.id.to_s) && 'active' }
            = link_to workbooks_path(subject: subject.id) do
              = subject.name
              %span.badge
                = @workbook_counts[subject.id]
    .col-md-8
      .panel.panel-default
        .panel-heading
          = @panel_heading
          - if @teacher && current_user.student?
            %span.pull-right
              = link_to user_path(@teacher) do
                = "#{t('activerecord.attributes.subject.teacher_profile_id')}: #{@teacher.name}"
        %ul.list-group
          = render @panel_workbooks
