- provide(:title, "Workbooks")
%h1.page-header
  My workbooks

#workbook_index
  .row
    .col-md-4
      %ul.nav.nav-pills.nav-stacked
        %li{class: params[:subject].blank? && 'active' }
          = link_to 'All', workbooks_path
        - @subjects.each do |subject|
          %li{class: (params[:subject] == subject.id.to_s) && 'active' }
            = link_to workbooks_path(subject: subject.id) do
              = subject.name
              %span.badge
                = @workbook_counts[subject.id]
    .col-md-8
      .panel.panel-default
        .panel-heading
          = @panel_heading
        .panel-body
          - if can? :create, Workbook
            = link_to 'Create new workbook', new_workbook_path, class: "btn btn-sm btn-default pull-right"
          = render @panel_workbooks
