- User::ROLES.each do |role|
  = check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}
  = label_tag "user_roles_#{role}", role.to_s.humanize
  = hidden_field_tag "user[roles][]", ""
