- provide(:title, "Edit profile")

%h2
  Edit
  = resource_name.to_s.humanize
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .row
    .col-md-4
      %div
        %span
          %strong Current picture:
        %img.img-circle{:src => "#{@user.picture}"}/
      .form-group
        = f.label :picture, "Change picture:", class: "control-label"
        = f.file_field :picture,
                       accept: format_image_extensions_for_file_field(User.allowed_file_extensions),
                       class: 'picture-size-check'
        %span.help-block Use file up to 5MB
    .col-md-6
      = devise_error_messages!
      .form-group
        = f.label :name
        = f.text_field :name, autofocus: true, class: "form-control"
      .form-group
        = f.label :email
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %span.help-block
            Currently waiting confirmation for:
            =resource.unconfirmed_email
        = f.email_field :email, class: "form-control"
      - if @user.student?
        .form-group
          = f.label :group, class: "control-label"
          = f.text_field :group, class: "form-control"
        .form-group
          = f.label :course_year, class: "control-label"
          = f.text_field :course_year, class: "form-control"
        .form-group
          = f.label :specialty_id, "Select specialty", class: "control-label"
          = f.collection_select(:specialty_id, @specialties, :id, :name, {}, class: "form-control")
      .form-group
        = f.label :password
        %span.help-block (leave blank if you don't want to change it)
        = f.password_field :password, autocomplete: "off", class: "form-control"
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      .form-group
        = f.submit "Save", class: "btn btn-primary"
= link_to "Back", user_path(@user)
