= form_for(@article) do |f|
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.label :name, class: "control-label"
    = f.text_field :name, class: "form-control", placeholder: "Enter article name"
  .form-group
    = f.label :text, class: "control-label"
    = f.text_area :text, class: "text-wysiwyg form-control", rows: 15
  .form-group
    = f.label :category, class: "control-label"
    = f.text_field :category, list: 'category', class: "form-control"
    %datalist#category
      - @articles_categories.each do |article|
        %option{value: article.category}
    %span.help-block Choose from list or create new category
  .form-group
    = f.label :order, class: "control-label"
    = f.text_field :order, class: "form-control"
  .btn-group
    = f.submit "Save", class: "btn btn-primary"
    - if @article.persisted?
      = link_to "Delete", @article, method: :delete, data: { confirm: "Delete article?" }, class: "btn btn-danger"
