- provide(:title, @special_workbook.name)
%h1.page-header
  = @special_workbook.name
.text-right
  .btn-group
    = link_to t('back'), special_workbooks_path, class: "btn btn-default"
    - if can? :edit, @workbook
      = link_to t('edit'), edit_special_workbook_path(@special_workbook.id), class: "btn btn-default"

.clearfix
  %p
    = @special_workbook.description.html_safe
%hr
= link_to t('download'), @special_workbook.attachment.url, class: "btn btn-default"
