- provide(:title, @special_workbook.name)
%h1.page-header= @special_workbook.name
.pull-right
  = link_to 'Edit special workbook', edit_special_workbook_path(@special_workbook.id), class: "text-danger"
  |
  = link_to 'Back to index', special_workbooks_path, class: "text-danger"
.clearfix
  %p= @special_workbook.description.html_safe
  %span.help-block Download file:
  = link_to "Click", @special_workbook.attachment.url
