- provide(:title, @user.name)
%h2.page-header
  = @user.name

.row
  .col-md-3.col-md-offset-1
    %img.img-circle{:src => "#{@user.picture}"}
    #links
      %ul.list-group
        - if @user.id == current_user.id
          %li.list-group-item= link_to 'Edit profile', edit_user_registration_path
          - if can? :own_subjects, @user
            %li.list-group-item= link_to 'My subjects', choose_subjects_user_path
            %li.list-group-item= link_to 'My workbooks', workbooks_path
        - else
          %li.list-group-item= link_to 'Contact user', mailers_contact_user_path(id: @user.id)
  .col-md-6.col-md-offset-1
    - if @user.student_profile
      %ul.list-unstyled
        %li
          %h4
            Group:
          = @user.student_profile.group
        %li
          %h4
            Specialty:
          = @user.student_profile.specialty.name
    - elsif @user.teacher_profile
      %h3
        = @user.name
        's subjects
      %ul
        - @user.teacher_profile.subjects.each do |subject|
          %li=subject.name
    - else
      %h4 No information about user
