#feedback_errors
= form_for(@feedback_message,
            url: url_for(:controller => 'mailers', :action => 'send_feedback', :anchor => "feedback"),
            html: { id: "feedback" },
            remote: true ) do |f|
  .form-group
    = f.text_area 'text', class: "form-control", rows: 7
  .form-group
    = f.label :user_email, "Email address", class: "control-label"
    = f.text_field :user_email,
                    value: (@user&.email),
                    class: "form-control",
                    placeholder: "Email",
                    type: "email"
  = f.submit :send, class: "btn btn-success center-block"
