.panel.panel-success
  .panel-heading
    %h3.panel-title
      = t('content_management')
  %ul.list-group
    %li.list-group-item
      %h4.list-group-item-heading
        = t('activerecord.models.articles')
    %li.list-group-item
      = link_to t('create_article'), new_article_path
    %li.list-group-item
      =link_to t('all_articles'), articles_path
  %ul.list-group
    %li.list-group-item
      %h4.list-group-item-heading
        = t('activerecord.models.workbooks')
    %li.list-group-item
      = link_to t('create_workbook'), new_workbook_path
    %li.list-group-item
      = link_to t('create_special_workbook'), new_special_workbook_path
    %li.list-group-item
      =link_to t('activerecord.models.workbooks'), workbooks_path
    %li.list-group-item
      =link_to t('all_workbooks'), special_workbooks_path
  .panel-footer
    %h4.panel-title
      = t('content_statistics')
    %p
      %ul.list-inline
        %li
          = "#{t('activerecord.models.articles')}: #{@articles_count}"
        %li
          = "#{t('activerecord.models.workbooks')}: #{@workbooks_count}"
        %li
          = link_to t('more'), '#collapseContentStatistics', 'data-toggle': 'collapse'
      .collapse#collapseContentStatistics
        .well-lg
          %ul.list-inline
            %li
              = "#{t('activerecord.models.specialties')}: #{@specialties_count}"
            %li
              = "#{t('activerecord.models.subjects')}: #{@subjects_count}"
