%h1.page-header
  Contact
  = @recipient.name
.row
  .col-md-3.col-md-offset-1
    %img.img-circle{:src => "#{@recipient.picture}"}
    %span=@recipient.name
  .col-md-6.col-md-offset-1
    = form_tag({ controller: 'mailers', action: 'send_email_to_user' }, method: 'post') do
      = hidden_field_tag 'recipient_id', @recipient.id
      .form-group
        = text_field_tag 'subject',
            nil,
            class: "form-control", placeholder: "Subject", type: "text"
      .form-group
        = text_area_tag 'text', nil,
            class: "form-control", rows: 7
      .form-group
        %label.control-label Check your email address to get response
        = text_field_tag 'sender_email',
            @sender.email,
            class: "form-control", placeholder: "Email", type: "email", disabled: true
      = submit_tag :send, class: "btn btn-success center-block"
