- provide(:title, t('activemodel.models.form_objects/mass_mailout'))
%h1.page-header
  = t('activemodel.models.form_objects/mass_mailout')
= form_for(@mass_mailout,
            url: url_for(:controller => 'mailers', :action => 'send_mailout'),
            html: { id: "send_mailout" }, multipart: true) do |f|
  = render 'shared/error_messages', object: f.object
  .row
    .col-md-3
      .form-group
        %label.control-label=t('select_user_group')
        = f.select(:role, ['teachers', 'students'],
            {include_blank: t('all_site_users')},
            {class: "form-control",
            id: "select_user_roles"},
            )
    .col-md-3
      .form-group#select_specialties
        %label.control-label=t('select_specialty')
        = f.collection_select :specialty_ids,
           @specialties, :id, :name,
            {include_blank: t('all'),
            multiple: true},
            class: "form-control for-students select-specialty"
    .col-md-3
      .form-group#select_course_years
        %label.control-label=t('select_course_year')
        = f.select :course_years,
            @course_years,
            {include_blank: t('all'),
            multiple: true},
            class: "form-control for-students select-course"
    .col-md-3
      .form-group#select_groups
        %label.control-label=t('select_student_group')
        = f.select :groups,
            @groups,
            {include_blank: t('all'),
            multiple: true},
            class: "form-control for-students select-group"
  .form-group
    %label.control-label=t('activemodel.attributes.form_objects/mass_mailout.subject')
    = f.text_field :subject, class: "form-control"
  .form-group
    %label.control-label=t('activemodel.attributes.form_objects/mass_mailout.text')
    = f.text_area :text, class: "form-control text-wysiwyg"
  .form-group
    %label.control-label=t('activerecord.attributes.workbook.attachment')
    = f.file_field :attachment
  = f.submit t('send_this_mailout'), class: "btn btn-success btn-lg center-block"
