= form_tag(  url, method: http_method, id: "schedule_form") do
  .form-group
    %label.control-label Choose start date
    .form-inline
      = date_field_tag 'week', teachers_schedule.persisted? ? teachers_schedule.week : Date.today, name: "week", class: "form-control"
      = submit_tag 'Save schedule', class: 'btn btn-primary pull-right', id: "save_on_top"
  #schedule_table.table-responsive
    %table.table.table-striped.table-condensed.table-bordered
      %thead
        %tr
          %th
            Teacher
          - 5.times do |day|
            %th
              = (Date.today.at_beginning_of_week + day.to_i.days).strftime("%A")
      %tbody
        - teachers.each do |teacher|
          - 5.times do |lesson_number|
            %tr
              - if lesson_number == 0
                %td(rowspan='5')
                  = teacher.name
              - 5.times do |day|
                %td{id: "#{teacher.id}_#{day}_#{lesson_number + 1}"}
                  = render 'subject_select',
                      teacher: teacher,
                      lesson_number: lesson_number,
                      teachers_schedule: @teachers_schedule,
                      day: day
  = submit_tag 'Save schedule', class: 'btn btn-primary pull-right', id: "save_on_bottom"
