- provide(:title, "Teacher schedule")
%h1.page-header Show teachers schedule

%p
  ID:
  = @teachers_schedule.id
%p
  %b
    Schedule days:
  from
  %b=@date.at_beginning_of_week.strftime("%d.%m.%Y")
  to
  %b=@date.at_end_of_week.strftime("%d.%m.%Y")

#schedule_table_show.table-responsive
  - @schedule.each do |teacher_id, schedule|
    %table.table.table-condensed.table-bordered
      %thead
        %tr
          %th{colspan: 5}
            Teacher:
            = @teachers[teacher_id].name
        %tr
          - schedule.each do |day, lessons|
            %th
              = (@date + day.to_i.days).strftime("%A, %d %b")
      %tbody
        - schedule.each do |day_number, lessons|
          %tr
            - lessons.each do |para, lesson|
              %td
                - unless lesson["subject"].empty?
                  = @subjects[lesson["subject"]].name
                  ,
                  = lesson["room"]
