%p
  = t('schedule_week')
  %b=@date.at_beginning_of_week.strftime("%d.%m.%Y")
  = t('to')
  %b=@date.at_end_of_week.strftime("%d.%m.%Y")
- @schedule.each do |teacher_id, schedule|
  %p
  %table{style: "width:100%; border-collapse:collapse;"}
    %thead
      %tr
        %th{colspan: 10}
          = t('teacher')
          = @teachers[teacher_id].name
      %tr
        - schedule.each do |day, lessons|
          %th{colspan: 2, style: "min-width:150px; font-size:90%"}
            =  l @date + day.to_i.days, format: :days_with_date
    %tbody
      - schedule.each do |day_number, lessons|
        %tr
          - lessons.each do |para, lesson|
            %td{style: "font-size:80%;border: 1px solid black;"}
              %b
                = day_number.to_i + 1
            %td{style: "font-size:80%; border: 1px solid black;min-width:130px;"}
              - unless lesson["subject"].empty?
                = @subjects[lesson["subject"]].name
              = lesson["room"]
