- provide(:title, t('activerecord.models.teachers_schedule'))
%h1.page-header
  =t('activerecord.models.teachers_schedule')

.clearfix
  .pull-left
    = link_to t('previous'), teachers_schedule_path(@teachers_schedule.previous), class: "btn btn-default btn-xs"
  .pull-right
    = link_to t('next'), teachers_schedule_path(@teachers_schedule.next), class: "btn btn-default btn-xs"
%hr
.btn-group.pull-right
  = link_to t('edit'), edit_teachers_schedule_url(@teachers_schedule), class: "btn btn-danger btn-xs"
  = link_to teachers_schedule_path(@teachers_schedule, format: 'pdf'), id: "print_pdf", class: "btn btn-default btn-xs" do
    %span.glyphicon.glyphicon-print
    = t('print_pdf')
%p
  = t('schedule_week')
  %b= @date.strftime("%d.%m.%Y")
  = t('to')
  %b= @date_end.strftime("%d.%m.%Y")
%p
#schedule_table_show.table-responsive
  - @schedule.each do |teacher_id, schedule|
    %table.table.table-condensed.table-bordered{id: "teacher_#{teacher_id}"}
      %thead
        %tr
          %th{colspan: 5}
            =t('teacher')
            = @teachers[teacher_id].name
        %tr
          - schedule.each do |day, lessons|
            %th
              =  l @date + day.to_i.days, format: :days_with_date
      %tbody
        - 5.times do |para|
          %tr
            - 5.times do |day|
              %td
                - subj = @schedule["#{teacher_id}"]["#{day}"]["#{para+1}"]["subject"]
                = @subjects[subj].name if subj.present?
                = @schedule["#{teacher_id}"]["#{day}"]["#{para+1}"]["room"]
